<header class="navbar">
  <!-- ESQUERDA: LOGO -->
  <a class="navbar-logo" routerLink="/">
    <img src="/images/logo.png" alt="LERNIQ logo" />
  </a>

  <!-- CENTRO: LINKS -->
  <nav class="navbar-nav">
    <a
      class="nav-link"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </a>

    <a
      class="nav-link"
      routerLink="/explore"
      routerLinkActive="active"
    >
      Explore
    </a>

    <a
      class="nav-link"
      routerLink="/about"
      routerLinkActive="active"
    >
      About Us
    </a>
  </nav>

  <!-- DIREITA: ÍCONES -->
  <div class="navbar-actions">
    <button class="icon-btn" aria-label="Favourites">
      <img src="/images/heart-outline.svg" alt="" />
    </button>

    <button
      class="icon-btn"
      aria-label="Profile"
      [routerLink]="['/profile', 'guest']">
      <img src="/images/profile-outline.svg" alt="" />
    </button>
  </div>

</header>
